<section>
  <% if client_signed_in? %>
  <div class="d-flex flex-row justify-content-between">
    <p>Olá <%= current_client.name %> | <%= current_client.bank_account_description %> </p>
    <%= button_to 'Sair', destroy_client_session_path, method: :delete, class: 'btn btn-outline-danger' %>
  </div>
  <% end %>
  <h2>Selecione uma opção:</h2>
  <% unless client_signed_in? %>
    <div class="d-flex align-self-center justify-content-center">
      <%= link_to 'Sou cliente', new_client_session_path, class: "btn btn-outline-primary py-2 m-1 w-50" %>
      <%= link_to 'Abrir conta', new_client_registration_path, class: "btn btn-outline-primary py-2 m-1 w-50" %>
    </div>
  <% end %>
</section>
