<section class="d-flex flex-column">
  <div class="d-flex m-auto shadow-lg p-5 flex-column">
    <h2 class="mb-3">Saque</h2>
    <p>Seu saldo: <%= number_to_currency(current_client.try(:bank_account).try(:real_balance)) %></p>

    <%= form_with model: @withdraw, url: withdraws_path do |f| %>
      <%= render 'error_messages', resource: @withdraw %>

      <%= render 'amount_field', f: f %>

      <div class="actions">
        <%= f.submit 'Sacar', class: 'w-100 btn btn-lg btn-primary fw-bolder mt-2' %>
      </div>
    <% end %>

    <div class="links d-flex justify-content-center flex-column mt-2">
      <%= link_to 'Voltar', root_path, class:'text-primary text-decoration-none fw-bolder' %>
    </div>
  </div>
</section>
