<section class="d-flex flex-column">
  <div class="d-flex m-auto shadow-lg p-5 flex-column">
    <h2 class="mb-3">Transferência entre contas</h2>
    <p>Seu saldo: <%= number_to_currency(current_client.try(:bank_account).try(:real_balance)) %></p>

    <%= form_with model: @transfer, url: transfers_path, method: :post do |f| %>
      <%= render 'error_messages', resource: @transfer %>

      <div class="field form-floating">
        <%= f.text_field :payees_registration_number, autofocus: true, autocomplete: 'payees_registration_number', class: 'form-control', placeholder: ' ', required: true %>
        <%= f.label :payees_registration_number, 'CPF do favorecido' %><br />
      </div>

      <%= render 'amount_field', f: f %>

      <div class="actions">
        <%= f.submit 'Transferir', class: 'w-100 btn btn-lg btn-primary fw-bolder mt-2' %>
      </div>
    <% end %>

    <div class="alert alert-info mt-4">
      <dl>
        <dt>Taxa de transferência:</dt>
        <dd>R$ 5,00 de segunda a sexta das 9 às 18 horas</dd>
        <dd>R$ 7,00 nos demais horários</dd>
        <dd>R$ 10,00 de taxa adicional em transferências acima de R$ 1.000,00</dd>
      </dl>
    </div>

    <div class="links d-flex justify-content-center flex-column mt-2">
      <%= link_to 'Voltar', root_path, class:'text-primary text-decoration-none fw-bolder' %>
    </div>
  </div>
</section>
