<!DOCTYPE html>
<html>
  <head>
    <title>Caixa Eletrônico</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header>
      <nav>
        <h1>Caixa Eletrônico</h1>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
